@using Shop.Data.Models
@model IEnumerable<Car>

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta nameme="viewport" content="widht=device-widht" />
    <title>List</title>
</head>
<body>
    <h2>Всі автомобілі</h2>
    @{
        foreach (var car in Model)
        {
            <div>
                <h2>Модель: @car.name</h2>
                <p>Ціна: @car.price.ToString("C")</p>

            </div>
        }


    }
</body>
</html>